{{page-title "ShoppingCart"}}

<h1>Shopping Cart</h1>

<div>
    <span>subtotal</span>
    <span>
        <p>{{this.subtot}}</p></span>
</div>
<div>
    <span>tax</span>
    <span>{{this.gst}}</span>
</div>
<div>
    <span>total</span>
    <span>{{this.tot}}</span>
</div>

{{outlet}}