{{page-title "ShoppingCart"}}
<div>
    <span>price</span>
    <span>{{this.price}}</span>
</div>
<div>
    <span>tax</span>
    <span>{{this.tax}}</span>
</div>
<div>
    <span>total</span>
    <span>{{this.total}}</span>
</div>


{{outlet}}